<table>
  <tr>
	<th>Цена</th>
    <th>Адрес</th>
    <th>Площадь</th>
    <th>Имя</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @build_objects.each do |house| %>
  <tr>
    <td><%= house.price %></td>
    <td>
		<ul>
			<li>Регион: <%= house.address.region %></li>
			<li><%= house.address.city %></li>
			<li><%= house.address.distinct %></li>
			<li><%= "#{house.address.street} #{house.address.number_house}" %></li>
		</ul>
	</td>
	<td>
		<%= house.name %>
		<%= image_tag house.photos.first.image_url.to_s %>
	</td>
    <td>
		<%= link_to 'Посмотреть', house %></td>
	<% if can? :update, house %>
    	<td><%= link_to 'Редактировать', edit_house_path(house) %></td>
    	<td><%= link_to 'Удалить', house, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />
