<p id="notice"><%= notice %></p>

<p>
  <b>Type of house:</b>
  <%= @house.type_of_house %>
</p>

<p>
  <b>Byear:</b>
  <%= @house.byear %>
</p>

<p>
  <b>Overhault:</b>
  <%= @house.overhault %>
</p>

<p>
  <b>Material:</b>
  <%= @house.material %>
</p>

<p>
  <b>Overlap:</b>
  <%= @house.overlap %>
</p>

<p>
  <b>Elevator:</b>
  <%= @house.elevator %>
</p>

<p>
  <b>Chute:</b>
  <%= @house.chute %>
</p>

<p>
  <b>Consierge:</b>
  <%= @house.consierge %>
</p>

<p>
  <b>Stair:</b>
  <%= @house.stair %>
</p>

<p>
  <b>Basement:</b>
  <%= @house.basement %>
</p>

<p>
  <b>Hfirstfloor:</b>
  <%= @house.hfirstfloor %>
</p>

<p>
  <b>Name:</b>
  <%= @house.name %>
</p>

<p>
  <b>Builder:</b>
  <%= @house.builder %>
</p>

<p>
  <b>User:</b>
  <%= @house.user %>
</p>

<p>
  <b>Shopprod:</b>
  <%= @house.shopprod %>
</p>

<p>
  <b>Domesticserv:</b>
  <%= @house.domesticserv %>
</p>

<p>
  <b>Shopping:</b>
  <%= @house.shopping %>
</p>

<p>
  <b>Phrmacy:</b>
  <%= @house.phrmacy %>
</p>

<p>
  <b>Clinic:</b>
  <%= @house.clinic %>
</p>

<p>
  <b>Kgarten:</b>
  <%= @house.kgarten %>
</p>

<p>
  <b>School:</b>
  <%= @house.school %>
</p>

<p>
  <b>Bank:</b>
  <%= @house.bank %>
</p>

<p>
  <b>Parking:</b>
  <%= @house.parking %>
</p>

<p>
  <b>Park:</b>
  <%= @house.park %>
</p>

<p>
  <b>Busstop:</b>
  <%= @house.busstop %>
</p>


<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
