<%= content_for :header do %>
<h1>Статьи</h1>
<% end %>

<% @articles.each do |article| %>
  <article class="article-<%= article.id %>">
    <h2><%= link_to article.name, article %></h2>
    <p class="user-date"><%= article.try(:user) %>, <%= article.created_at.to_date %></p>
    <div class="post"><%= truncate article.content, 200 %></div>
    <p class="more"><%= link_to 'Подробнее', article %></p>
    <p class="article-categoy"><%= article.category_article %></p>
	<% if can? :update, article %>
    	<div class="edit-links">
        <p><%= link_to 'Изменить', edit_article_path(article), :class => 'edit btn entypo-pencil' %> | 
        <%= link_to 'Удалить', article, :class => 'delete btn entypo-cancel-circled', method: :delete, data: { confirm: 'Вы уверены?' } %></p>
      </div>
	<% end %>
  </article>
<% end %>

<br />

<%= link_to 'Добавить статью', new_article_path %>
