<h2><%= @article.name %></h2>

<div class="article-content">
  <%= image_tag @article.avatar_url(:main).to_s, class: 'article-img' if @article.avatar.present? %>
  <%=  @article.content.html_safe %>
</div>

<dl>
  <dt>Добавил:</dt>
  <dd><%= @article.try(:user) || "admin" %></dd>
  <dt>Дата</dt>
  <dd><%= @article.created_at.to_date %></dd>
  <dt>Категория:</dt>
  <dd><%= @article.category_article %></dd>
</dl>

<% if can? :update, @article %>
	<%= link_to 'Изменить', edit_article_path(@article) %>
<% end %>
