<p id="notice"><%= notice %></p>

<p>
  <%= @article.name %>
</p>

<p>
  <%= @article.content %>
</p>

<p>
  <b>Добавил:</b>
  <%= @article.try(:user) || "admin" %>
</p>

<p>
  <b>Категория:</b>
  <%= @article.category_article %>
</p>

	<% if can? :update, @article %>
		<%= link_to 'Изменить', edit_article_path(@article) %>
	<% end %>
