<h2><%= @article.name %></h2>

<div class="article-content">
  <%= @article.content %>
</div>

<dl>
  <dt>Добавил:</dt>
  <dd><%= @article.try(:user) || "admin" %></dd>
  <dt>Дата</dt>
  <dd><%= @article.created_at.to_date %></dd>
  <dt>Категория:</dt>
  <dd><%= @article.category_article %></dd>
</dl>

<% if can? :update, @article %>
	<%= link_to 'Изменить', edit_article_path(@article) %>
<% end %>
