<h1>Личный кабинет</h1>

<div class="row" id="cabinet">
	<div class="large-7 columns">

		<div class="panel radius">
			<dl class="user-info">
				<dt>ФИО:</dt>
				<dd><%= @user.fio %></dd>
				<dt>Телефон:</dt>
				<dd><%= @user.phone %></dd>
				<dt>Рейтинг:</dt>
				<dd><%= @user.rating %> <%= link_to "Увеличить", add_rating_path, :class => "entypo-plus-circled" %></dd>
				<dt>Email:</dt>
				<dd><%= @user.email %></dd>
			    <dt>На счету:</dt>
			    <dd><%= number_to_currency @user.account.total, :unit => "руб." %> <%= link_to "Пополнить", new_payment_path, :class => "entypo-plus-circled" %></dd>
			    <% if current_user.agency %>
			    <dt>Агентство:</dt>
			    <dd><%= link_to "Агентство", agency_path(current_user.agency) %></dd>
				<% end %>
			</dl>
			
			<% unless can? :invest, :all %>
			    <p>Для доступа к инвестпроектам и закрытым разделам сайта необходимо повысить уровень аккаунта
				<%= link_to "Открыть доступ", upgrade_account_path %></p>
			<% else %>
			    <p>У вас открыт доступ к <%= link_to "инвестпроектам", invest_projects_build_objects_path %></p>
			<% end %>
		</div>

		<%= link_to "Редактировать профиль", edit_user_registration_path, :class => "entypo-pencil" %>
	</div>
	<div class="large-5 columns">
		<ul class="user-menu">
			<li><%= link_to "Мои объекты", manage_build_objects_path, :class => "entypo-doc-text-inv" %></li>
			<li><%= link_to "Просмотры", reviews_path, :class => "entypo-users" %></li>
		</ul>
	</div>
</div><!-- /#cabinet -->

<div id="rating-info" title="Информация" class="reveal-modal medium">
     <p>Вы можете увеличить свой рейтинг <br> написанием статей на сайте и добавлением объектов</p>
     <a class="close-reveal-modal">&#215;</a>
</div>