<h1>Личный кабинет</h1>
<%= link_to "Редактировать профиль", edit_user_registration_path %>
<%= link_to "Мои объекты", manage_build_objects_path %>
<%= link_to "Просмотры", reviews_path %>

<% if current_user.agency %>
    <%= link_to "Агенство", agency_path(current_user.agency) %>
<% end %>


<ul>
	<li>ФИО: <%= @user.fio %></li>
	<li>Мобильный телефон: <%= @user.phone %></li>
	<li>Рейтинг: <%= @user.rating %></li>
	<li>Email: <%= @user.email %></li>
</ul>

<% unless can? :invest, :all %>
    <p>Для доступа к инвестпроектам и закрытым разделам сайта необходимо повысить уровень аккаунта</p>
<%= link_to "Открыть доступ", upgrade_account_path %>
<% else %>
    <p>У вас открыт доступ к <%= link_to "инвестпроектам", invest_projects_build_objects_path %></p>
<% end %>


<div id="inform-modal" title="Информация" style="display: none; ">
     <p>Вы можете увеличить свой рейтинг <br> написанием статей на сайте и добавлением объектов</p>
</div>
