<% content_for :page_title do %>Новости<% end %>

<% @news.each do |news| %>
  <article>
    <h2><%= news.name %></h2>
    <p class="user-date"><%= news.user %></p>
    <div class="content"><%= news.content %></div>
    <p class="read-more btn"><%= link_to 'Подробнее', news %></p>
		<% if can? :update, news %>
    		<div class="edit">
          <p><%= link_to 'Edit', edit_news_path(news) %> / 
      		<%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
		<% end %>
  </article>
<% end %>

<%= link_to "Добавить новость", new_news_path if can? :create,  News %>