<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @news.name %>
</p>

<p>
  <b>User:</b>
  <%= @news.user %>
</p>

<p>
  <b>Content:</b>
  <%= @news.content %>
</p>

<% if can? :update, @news %>
	<%= link_to 'Edit', edit_news_path(@news) %>
<% end %>
<%= link_to 'Back', news_index_path %>
