<p id="notice"><%= notice %></p>

<p>
  <%= @news.name %>
</p>


<p>
  <%= simple_format @news.content %>
</p>

<% if can? :update, @news %>
	<%= link_to 'Редактировать', edit_news_path(@news) %>
<% end %>
<%= link_to 'Назад', news_index_path %>
