<% content_for :page_title do %>Агентство<% end %>
<h2>&laquo;<%= @agency.name %>&raquo;</h2>
<div class="row" id="agency">
  <div class="large-6 columns description">
    <h3>
        <span data-tooltip class="has-tip" title="Рейтинг повышается за агентов с полностью описанными объектами">Рейтинг: <%= @agency.rating %></span></h3>
      
    <% unless @agency.description.nil? %>
    <%= @agency.description %>
    <% end %>
  </div>
  <div class="large-6 columns">
    <div class="panel radius">
      <dl class="agency-info">
        <dd><%= image_tag @agency.logo_url(:main).to_s %></dd>
        <% unless @agency.site.empty? %>
        <dt>Сайт:</dt>
        <dd><%= link_to @agency.site, @agency.site %></dd>
        <% end %>
        <% unless @agency.address.nil? %>
        <dt>Адрес:</dt>
        <dd><%= @agency.address %></dd>
        <% end %>
        <dt>Владелец:</dt>
        <dd><%= link_to @agency.owner, @agency.owner %></dd>
        <% unless @agency.phone.nil? %>
        <dt>Телефон:</dt>
        <dd><%= @agency.phone %></dd>
        <% end %>
        <% unless @agency.fax.nil? %>
        <dt>Факс:</dt>
        <dd><%= @agency.fax %></dd>
        <% end %>
        <% unless @agency.agents.nil? %>
        <dt>Агенты:</dt>
        <dd>
          <dl>
            <% @agency.agents.each do |agent| %>
              <dd><%= link_to agent, agent %></dd>
            <% end %>
          </dl>
        </dd>
        <% end %>
      </dl>
    </div>
    <% if can? :manage,  @agency%>
        <%= link_to 'Изменить', edit_agency_path(@agency), :class => "entypo-pencil" %> |
        <%= link_to 'Администрирование', admin_agency_path %>
    <% end %>
    <%= link_to 'Назад', agencies_path %>
  </div>
</div>