<p>
  <b>Название:</b>
  <%= @agency.name %>
</p>
<p>
  <%= image_tag @agency.logo_url(:main).to_s %>
</p>
<p>
  <b>Сайт:</b>
  <%= link_to @agency.site, @agency.site %>
</p>
<p>
  <b>Адрес:</b>
  <%= @agency.address %>
</p>
<p>
  <b>Владелец:</b>
  <%= @agency.owner %>
</p>
<p>
  <b>Телефон:</b>
  <%= @agency.phone %>
</p>
<p>
  <b>Факс:</b>
  <%= @agency.fax %>
</p>
<p>
  <b>Описание:</b>
  <%= @agency.description %>
</p>
<p>
    Агенты:
    <% @agency.agents.each do |agent| %>
        <%= link_to agent, agent %>
    <% end %>
</p>

<% if can? :manage,  @agency%>
    <%= link_to 'Изменить', edit_agency_path(@agency) %> |
    <%= link_to 'Администрирование', admin_agency_path %>
<% end %>
<%= link_to 'Назад', agencies_path %>
