<p id="notice"><%= notice %></p>

<p>
  <b>Country:</b>
  <%= @address.country %>
</p>

<p>
  <b>Region:</b>
  <%= @address.region %>
</p>

<p>
  <b>City:</b>
  <%= @address.city %>
</p>

<p>
  <b>Distinct:</b>
  <%= @address.distinct %>
</p>

<p>
  <b>Street:</b>
  <%= @address.street %>
</p>

<p>
  <b>Number house:</b>
  <%= @address.number_house %>
</p>

<p>
  <b>Number korp:</b>
  <%= @address.number_korp %>
</p>

<p>
  <b>Minibus:</b>
  <%= @address.minibus %>
</p>

<p>
  <b>Bus:</b>
  <%= @address.bus %>
</p>

<p>
  <b>Trolleybus:</b>
  <%= @address.trolleybus %>
</p>

<p>
  <b>Railsbus:</b>
  <%= @address.railsbus %>
</p>

<p>
  <b>Metro:</b>
  <%= @address.metro %>
</p>

<p>
  <b>Valute:</b>
  <%= @address.valute %>
</p>

<p>
  <b>Ipoteka:</b>
  <%= @address.ipoteka %>
</p>

<p>
  <b>Description:</b>
  <%= @address.description %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
