<%= form_for(@appartement) do |f| %>
  <% if @appartement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appartement.errors.count, "error") %> prohibited this appartement from being saved:</h2>

      <ul>
      <% @appartement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :floor %><br />
    <%= f.number_field :floor %>
  </div>
  <div class="field">
    <%= f.label :rooms %><br />
    <%= f.number_field :rooms %>
  </div>
  <div class="field">
    <%= f.label :area %><br />
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :living_area %><br />
    <%= f.text_field :living_area %>
  </div>
  <div class="field">
    <%= f.label :kitchen_area %><br />
    <%= f.text_field :kitchen_area %>
  </div>
  <div class="field">
    <%= f.label :planning %><br />
    <%= f.text_field :planning %>
  </div>
  <div class="field">
    <%= f.label :hfloor %><br />
    <%= f.text_field :hfloor %>
  </div>
  <div class="field">
    <%= f.label :toilet %><br />
    <%= f.text_field :toilet %>
  </div>
  <div class="field">
    <%= f.label :remont %><br />
    <%= f.text_field :remont %>
  </div>
  <div class="field">
    <%= f.label :balkon %><br />
    <%= f.check_box :balkon %>
  </div>
  <div class="field">
    <%= f.label :hotwater %><br />
    <%= f.text_field :hotwater %>
  </div>
  <div class="field">
    <%= f.label :view_from_windows %><br />
    <%= f.text_field :view_from_windows %>
  </div>
  <div class="field">
    <%= f.label :house %><br />
    <%= f.text_field :house %>
  </div>
  <div class="field">
    <%= f.label :terms %><br />
    <%= f.text_field :terms %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
