<h1>Listing appartements</h1>

<table>
  <tr>
    <th>Floor</th>
    <th>Rooms</th>
    <th>Area</th>
    <th>Living area</th>
    <th>Kitchen area</th>
    <th>Planning</th>
    <th>Hfloor</th>
    <th>Toilet</th>
    <th>Remont</th>
    <th>Balkon</th>
    <th>Hotwater</th>
    <th>View from windows</th>
    <th>House</th>
    <th>Terms</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @appartements.each do |appartement| %>
  <tr>
    <td><%= appartement.floor %></td>
    <td><%= appartement.rooms %></td>
    <td><%= appartement.area %></td>
    <td><%= appartement.living_area %></td>
    <td><%= appartement.kitchen_area %></td>
    <td><%= appartement.planning %></td>
    <td><%= appartement.hfloor %></td>
    <td><%= appartement.toilet %></td>
    <td><%= appartement.remont %></td>
    <td><%= appartement.balkon %></td>
    <td><%= appartement.hotwater %></td>
    <td><%= appartement.view_from_windows %></td>
    <td><%= appartement.house %></td>
    <td><%= appartement.terms %></td>
    <td><%= link_to 'Show', appartement %></td>
    <td><%= link_to 'Edit', edit_appartement_path(appartement) %></td>
    <td><%= link_to 'Destroy', appartement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Appartement', new_appartement_path %>
