<p id="notice"><%= notice %></p>

<p>
  <b>Floor:</b>
  <%= @appartement.floor %>
</p>

<p>
  <b>Rooms:</b>
  <%= @appartement.rooms %>
</p>

<p>
  <b>Area:</b>
  <%= @appartement.area %>
</p>

<p>
  <b>Living area:</b>
  <%= @appartement.living_area %>
</p>

<p>
  <b>Kitchen area:</b>
  <%= @appartement.kitchen_area %>
</p>

<p>
  <b>Planning:</b>
  <%= @appartement.planning %>
</p>

<p>
  <b>Hfloor:</b>
  <%= @appartement.hfloor %>
</p>

<p>
  <b>Toilet:</b>
  <%= @appartement.toilet %>
</p>

<p>
  <b>Remont:</b>
  <%= @appartement.remont %>
</p>

<p>
  <b>Balkon:</b>
  <%= @appartement.balkon %>
</p>

<p>
  <b>Hotwater:</b>
  <%= @appartement.hotwater %>
</p>

<p>
  <b>View from windows:</b>
  <%= @appartement.view_from_windows %>
</p>

<p>
  <b>House:</b>
  <%= @appartement.house %>
</p>

<p>
  <b>Terms:</b>
  <%= @appartement.terms %>
</p>


<%= link_to 'Edit', edit_appartement_path(@appartement) %> |
<%= link_to 'Back', appartements_path %>
