<ul>
    <% unless model.description.blank? %>
        <li><%= model.description %></li>
    <% end %>
<% model.photos.each do |photo|%>
	<li><%= image_tag photo.image_url(:thumb).to_s %></li>
<% end %>
</ul>


	<%= link_to 'Подробнее', model %>
<% if can? :update, model %>
	<%= link_to 'Изменить', edit_build_object_path(model) %>
	<%= link_to 'Удалить', model, method: :delete, data: { confirm: 'Вы уверены?' } %>
<% end %>