<% cache "filter_form" do %>
<%= form_tag build_objects_path(format: :json), method: :get, id:'filter-build-object-form' do |f| -%>
  <div class="row">
    <div class="large-6 columns">
      <h3>Цена</h3>
      <div class="row">
        <div class="large-6 columns filter price">
            <%= label_tag :price, "от" %>
            <%= number_field_tag 'filter[min_price]' %>
        </div>
        <div class="large-6 columns filter price">
            <%= label_tag :price, "до" %>
            <%= number_field_tag 'filter[max_price]' %>
        </div>
      </div>
    </div>
    <div class="large-6 columns">
      <h3>Площадь</h3>
      <div class="row">
        <div class="large-6 columns filter area">
            <%= label_tag :area, "от" %>
            <%= number_field_tag 'filter[min_area]' %>
        </div>
        <div class="large-6 columns filter area">
            <%= label_tag :area, "до" %>
            <%= number_field_tag 'filter[max_area]' %>
        </div>
      </div>
    </div>
  </div>

  <div class="address row">
      <%= render partial: 'location_filter' %>
  </div>

  <div class="details row">
    <div class="large-2 columns filter ipoteka">
        <%= label_tag :ipoteka, "Ипотека" %>
        <%= check_box_tag 'filter[ipoteka]' %>
    </div>
    <div class="large-4 columns large-uncentered filter object-type">
        <%= label_tag :type_of_build_object_id, "Тип объекта" %>
        <%= collection_select :filter, :type_of_build_object,TypeOfBuildObject.all, :id, :name %>
    </div>
  </div>
  <div class="details row" id="advanced-filter">
    <div class="large-7 columns">
        <!-- appartement filters -->
        <div class="row">
            <div class="large-6 columns large-uncentered filter">
                <%= label_tag :planning_id, "Планировка" %>
                <%= collection_select :filter, :planning_id, Planning.all, :id, :name,include_blank: true %>
            </div>
            <div class="large-6 columns large-uncentered filter">
                <%= label_tag :remont_id, "Ремонт" %>
                <%= collection_select :filter, :remont_id, Remont.all, :id, :name, include_blank: true %>
            </div> 
        </div>
        <div class="row">
            <div class="large-6 columns large-uncentered filter">
                <%= label_tag :hotwater_id, "Горячая вода" %>
                <%= collection_select :filter, :hotwater_id, Hotwater.all, :id, :name,include_blank: true %>
            </div>
            <div class="large-6 columns large-uncentered filter">
                <%= label_tag :view_from_windows_id, "Вид из окон" %>
                <%= collection_select :filter, :view_from_windows_id, ViewFromWindows.all, :id, :name, include_blank: true %>
            </div> 
        </div>
        <!-- end appartement filters -->
        <div class="row">
            <div class="large-6 columns large-uncentered filter">
                <%= label_tag :material_id, "Материал дома" %>
                <%= collection_select :filter, :material_id, Material.all, :id, :name, include_blank: true %>
            </div>
            <div class="large-6 columns large-uncentered filter">
                <%= label_tag :overlap_id, "Перекрытия" %>
                <%= collection_select :filter, :overlapl_id, Overlap.all, :id, :name, include_blank: true %>
            </div> 
        </div>
        <div class="row">
            <div class="large-6 columns large-uncentered filter">
                <%= label_tag :stair_id, "Лестница" %>
                <%= collection_select :filter, :stair_id, Stair.all, :id, :name, include_blank: true %>
            </div>
            <% if Basement.count>0 %>
                <div class="large-6 columns large-uncentered filter">
                    <%= label_tag :basement_id, "Подвал" %>
                    <%= collection_select :filter, :basement_id, Basement.all, :id, :name, include_blank: true %>
                </div> 
            <% end %>
        </div>
    </div>
  </div>
  <%= submit_tag I18n.t("datgrid.form.submit", :default => "Подобрать").html_safe, :class => "submit-form btn" %>
  <a id="show-advanced-filter" class="show-filter">Расширеный поиск</a>
<% end -%>
  <% end %>
