    <table>
        <thead>
            <tr>
                <th>
                    Продаю
                </th>
                <th>
                    Покупаю
                </th>
                <th>
                    Состояние
                </th>
                <th>
                    Подробнее
                </th>
            </tr>
        </thead>
        <tbody>
            <% @nodes.each do |node| %>
            <tr>
                <td>
                    <%= link_to node.sell.name, node.sell %>
                </td>
                <td>
                    <%= node.buy.try(:name) || "Пусто" %>
                </td>
                <td>
                    <%= node.human_status %>
                </td>
                <td>
                    <%= link_to "Подробнее" ,node %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    
    <h4>Поступившие предложения</h4>
    <table>
        <thead>
            <th>Мой объект</th>
            <th>Предлагают поменять на</th>
        </thead>
    <% @incoming_request_for_exhange.each do |build_object| %>
        <tr>
            <td><%= link_to build_object.name, build_object %></td>
            <td>
                <ul>
                    <% build_object.nodes.each do |node| %>
                    <li>
                        <% unless node.status == 2  %>
                            <%= link_to node.sell.name, node.sell %>
                            <%= link_to "Обменять", approve_node_path(node, build_object: build_object), method: :post %>
                        <% end %>
                    </li>
                    <% end %>
                </ul>
            </td>
        </tr>
    <% end %>
    </table>