<div class="large-6 columns filter country location-filter">
  	    <%= label_tag 'filter[country]', "Страна" %>
    <%= collection_select :filter, :country_id, Country.order(:name),:id,:name, include_blank:true %>
</div>
<div class="large-6 columns filter region location-filter">
    <%= label_tag 'filter[region]',"Регион" %>
    <%= grouped_collection_select :filter,:region_id, Country.order(:name),:regions,:name, :id, :name, include_blank:true  %>   
</div>
<div class="large-6 columns filter city location-filter">
    <%= label_tag 'filter[city]',"Город" %>
    <%= grouped_collection_select :filter, :city_id,Region.order(:name),:cities,:name, :id, :name, include_blank:true  %>
</div>
<div class="large-6 columns filter district location-filter">
    <%= label_tag 'filter[distinct]', 'Район' %>
    <%= grouped_collection_select :filter, :distinct_id, City.order(:name),:distincts,:name, :id, :name, include_blank:true  %>
</div>
<div class="large-6 columns filter street location-filter">
    <%= label_tag 'filter[street]', "Улица" %>
    <%= grouped_collection_select :filter, :street_id,Distinct.order(:name),:streets,:name, :id, :name, include_blank:true  %>
</div>