<div class="section-container auto" data-section>
  <section>
    <p class="title" data-section-title><a href="#panel1">Мои объекты</a></p>
    <div class="content" data-section-content>
        <%= render :partial => 'list_objects' %>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#panel2">Встречные покупки</a></p>
    <div class="content" data-section-content>
      <%= render :partial => 'list_chains' %>   
    </div>
  </section>
</div>



<div id="new-build-object" title="Тип продажи" class="reveal-modal medium">
        <div class="small-8">
          <div class="row">
           <%= form_tag new_build_object_path, method: :get do %>   
            <div class="small-3 columns">
              <%= radio_button_tag :sale_type, :direct_sale, checked: true %>
            </div>
            <div class="small-9 columns">
              <%= label_tag :sale_type_direct_sale, "Прямая продажа" %>
            </div>
          </div>
          <div class="row">
            <div class="small-3 columns">
                <%= radio_button_tag :sale_type, :chaining_sale %>
            </div>
            <div class="small-9 columns">
                <%= label_tag :sale_type_direct_sale_chaining_sale, "Встречная продажа" %>
            </div>
          </div>
          <%= submit_tag "Перейти к созданию", class:'button' %>
      <% end %>
      </div>
        
            
            

     <a class="close-reveal-modal">&#215;</a>
</div>