<h1>Записи на просмотр</h1>
<h3>Входящие</h3>
<table>
  <tr>
      <th>Дата</th>
      <th>Объект</th>
      <th>Статус</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
      <td><%= review.date %></td>
      <td><%= review.build_object %></td>
      <td><%= status review.status %></td>
    <td><%= link_to 'Подробнее', review %></td>
        <td><%= link_to 'Изменить', edit_review_path(review) %></td>
        <td><%= link_to 'Удалить', review, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
  </tr>
<% end %>

</table>

<br />
<table>
    <h3>Исходящие</h3>
  <tr>
      <th>Дата</th>
      <th>Объект</th>
      <th>Статус</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reviews_input.each do |review| %>
  <tr>
      <td><%= review.date %></td>
      <td><%= review.build_object %></td>
      <td><%= status review.status %></td>
    <td><%= link_to 'Подробнее', review %></td>
    <td><%= link_to 'Подтвердить', accept_review_path(review), method: :post %></td>
        <td><%= link_to 'Удалить', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>