<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  <%= csrf_meta_tags %>

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title>Home.info <%= content_for?(:page_title) ? yield(:page_title) : "" %></title>

  	<%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

      <div id="page" class="row">
      		<header class="small-12 columns">
      			<div class="row">
      				<div id="branding" class="large-2 small-5 columns">
      					<%= link_to (image_tag "logo.png"), root_path %>
      				</div>
      				<!-- nav menu -->
      				<nav id="main-nav" class="large-10 columns">
                <%= render_navigation context: :main %>
      				</nav>
      			</div>
      		</header>

      		<aside id="sidebar-left" class="small-3 large-2 columns sidebar">
            <%= render 'layouts/sidebar-first' %>
      		</aside><!-- /left sidebar -->

      		<section id="main-content" class="small-6 large-8 columns"> <!-- content -->
            <div class="row">
              <% if content_for?(:page_title) %>
                <h1 class="title small-12 columns"><b><%= yield(:page_title) %></b></h1>
              <% end %>
              <% if content_for?(:top_block) %>
                <div class="top-block small-12 columns"><%= yield(:top_block) %></div>
              <% end %>
              <div class="small-12 columns content">
                <%- flash.each do |name, msg| -%>
    	            <% if name == :error %>
    	                <%= content_tag :div, msg, :class => "alert-box alert radius" %>
    	            <% elsif name == :notice %>
    	                <%= content_tag :div, msg, :class => "alert-box success radius" %>
    	            <% elsif name == :warning %>
    	                <%= content_tag :div, msg, :class => "alert-box warning radius" %>
    	            <% end %>
      	        <%- end -%>

                <%= yield %>
              </div>
            </div>
      		</section><!-- /content -->

      		<aside id="sidebar-right" class="small-3 large-2 columns sidebar">
            <%= render 'layouts/sidebar-second' %>
      		</aside><!-- /right sidebar -->

      		<footer class="small-12 columns">
      			<p class="copyright">&copy; 2013 Home.info</p>
      		</footer>
      	</div>

    
    <%= javascript_include_tag "application" %>
  </body>
</html>
