<!DOCTYPE html>
<html>
<head>
  <title>BuildInfo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="page">
		<header>
			<!-- nav menu -->
			<nav id="main-nav">
				<ul>
					<li><%= link_to 'Главная', root_path %></li>
					<li><%= link_to 'Новости', news_index_path %></li>
					<li><%= link_to 'Список объектов', build_objects_path %></li>
					<li><%= link_to 'Статьи', articles_path %></li>
				</ul>
			</nav>
		</header>
		<aside id="sidebar-left" class="sidebar"> <!-- left sidebar -->
			<div class="block posts">
				<%= render 'articles/index', :locals=>{ :articles_in_side => Article.top } %>
			</div>
		</aside><!-- /left sidebar -->
		<section id="main-content">
			<%= yield %>
		</section>
		<aside id="sidebar-right" class="sidebar"> <!-- right sidebar -->
			<div class="block login">
				<% if user_signed_in? %>
					<%= link_to 'Кабинет', pages_profile_path %>
					<%= link_to "Выход", destroy_user_session_path, method: :delete %>
				<% else %>
					<%= render '/devise/sessions/new' %>
				<% end %>
			</div>
		</aside>
	</div>
</body>
</html>
