<!DOCTYPE html>
<html>
<head>
  <title>BuildInfo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- nav menu -->
	<%= link_to 'Главная', root_path %>
	<%= link_to 'Новости', news_index_path %>
	<%= link_to 'Список объектов', build_objects_path %>
	<%= link_to 'Статьи', articles_path %>
	<div> <!-- статьи -->
		<%= render 'articles/index', :locals=>{ :articles_in_side => Article.top } %>
	</div><!-- статьи -->
<%= yield %>
	<div>
		<% if user_signed_in? %>
			<%= link_to 'Кабинет', pages_profile_path %>
			<%= link_to "Выход", destroy_user_session_path, method: :delete %>
		<% else %>
			<%= render '/devise/sessions/new' %>
		<% end %>
	</div>
</body>
</html>
