<!DOCTYPE html>
<html class="no-js">
<head>
  <title>Home-Info</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="page" class="row">
		<header class="small-12 columns">
			<div class="row">
				<div id="branding" class="large-2 columns">
					<%= link_to (image_tag "logo.png"), root_path %>
				</div>
				<!-- nav menu -->
				<nav id="main-nav" class="large-10 columns">
                    <%= render_navigation %>
				</nav>
			</div>
		</header>

		<aside id="sidebar-left" class="small-3 large-2 columns sidebar">
			<div class="block posts">
				<%= render 'articles/index', :locals=>{ :articles_in_side => Article.top } %>
			</div>
			<div class="banner">
				<object type="application/x-shockwave-flash" data="<%= asset_path '1_200x300_24smart_root_02.swf'%>" 
				    width="400" height="550" align="top"> 
				    <param name="movie" value="<%= asset_path '1_200x300_24smart_root_02.swf'%>" />
				    <param name="quality" value="high" />
				    <param name="align" value="t" />
				</object>
			</div>
		</aside><!-- /left sidebar -->

		<section id="main-content" class="small-6 large-8 columns"> <!-- content -->
            <%- flash.each do |name, msg| -%>
	            <% if name == :error %>
	                <%= content_tag :div, msg, :class => "alert-box alert radius" %>
	            <% elsif name == :notice %>
	                <%= content_tag :div, msg, :class => "alert-box success radius" %>
	            <% elsif name == :warning %>
	                <%= content_tag :div, msg, :class => "alert-box warning radius" %>
	            <% end %>
	        <%- end -%>
			
			<%= yield %>
		</section><!-- /content -->

		<aside id="sidebar-right" class="small-3 large-2 columns sidebar">
			<div id="login-block" class="block login">
				<% if user_signed_in? %>
					<h2 class="block-title">Меню пользователя</h2>
					<div class="content">
						<%= link_to 'Кабинет', main_app.cabinet_index_path, :class => "entypo-lock-open" %>
						<%= link_to "Выход", main_app.destroy_user_session_path, method: :delete, :class => "entypo-logout" %>
					</div>
				<% else %>
					<%= render '/devise/sessions/new' %>
				<% end %>
			</div>
			<div class="banner">
				<object type="application/x-shockwave-flash" data="<%= asset_path '200h300_legenda_root_30_bn_02.swf'%>" 
				    width="400" height="550" align="top"> 
				    <param name="movie" value="<%= asset_path '200h300_legenda_root_30_bn_02.swf'%>" />
				    <param name="quality" value="high" />
				    <param name="align" value="t" />
				</object>
			</div>
		</aside><!-- /right sidebar -->

		<footer class="small-12 columns">
			<p class="copyright">&copy; 2013 Home.info</p>
		</footer>
	</div>
</body>
</html>
